{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
     <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
            <span for="img" alt="" class="circle responsive-img"></span> 
              <!-- notice the "circle" class -->
              {{!-- MUST FINISH THIS TO WORK --}}
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the circle class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>
    
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}