<body>
  <div class="name-dashboard">
    <div class="font-effect-shadow-multiple">
      <div class="hero-image">
      </div>
    </div>
    <div class="dashboard-container">
      <div class="flex-container">
        <div class="flex-child magenta">
          <div class="user-pic">
            <img class="materialboxed" width="300" src="{{preference.profile_picture}}">
          </div>
          <div class="flex-child text-center">
            <h3 class="text-capitalize">
              {{name}}
            </h3>
          </div>
        </div>
        <div id="preferences">
          <div class="dash-text">
            <p>My name is {{name}}. </p>
            <p>To me, music is {{preference.about_me}}</p>
            <p>I would like to meet {{preference.intentions}}</p>
            <p>At this time, my favorite music genre is {{preference.fave_genre}} from the {{preference.fave_decade}} that
              I would like to experience {{preference.fave_experience_style}}</p>
            <p>Feel free to contact me with email at <a href='mailto:{{email}}' class="text-white">{{email}}</a> and we can have a chat!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>